.purchasecard {
  border: 1px solid var(--maincolor);
  height: 100px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  transition: transform 0.3s;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
}

.purchasecard:hover {
  transform: translateY(-5px);
}

.purchasecard img {
  padding: 1rem;
  width: 100px;
  height: 100px;
}

.purchasecard__data {
  display: grid;
  grid-template-columns: 3fr 1fr 100px;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.purchasecard__data--price {
  width: 100px;
}
